<h1>Матильда</h1
    <article>
         Жила-была кошка и звали её 
         <a href="https://www.google.com/search?q=black+cat+%D1%81%D0%BA%D0%B0%D1%87%D0%B0%D1%82%D1%8C+%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D1%83&tbm=isch&ved=2ahUKEwiv1NSkhor4AhWsBxAIHfxOAXsQ2-cCegQIABAA&oq=black+cat+%D1%81%D0%BA%D0%B0%D1%87%D0%B0%D1%82%D1%8C+%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D1%83&gs_lcp=CgNpbWcQAzoECCMQJzoECAAQQzoFCAAQgAQ6BAgAEBhQ2wRY0kFgzFdoAHAAeACAAWGIAeELkgECMTiYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=lTOWYu-1A6yPwPAP_J2F2Ac&bih=722&biw=1536#imgrc=q22FnvOliIVU0M">Матильда.</a>
         Она любила вкусно поесть, хорошенечко поспать и немножко безцельно послоняться. Однажды в дом, где жила Матильда, залетела 
         <mark>муха</mark> . Кошку это событие очень обеспокоило и она, во что бы то не стало, решила поймать надоедливую муху. Гонялась за ней полдня, прыгала, скакала, падала, вставала и , наконец, уснула .. А  проснулась от того, что муха на носу у неё сидит и лапками щекочет! Матильда лапой махнула и пришибла муху. Вот такая история.</article>
<h4>Что любит Мотя:</h4>
<ol>
    <li>поесть</li>
    <li>поспать</li>
    <li>послоняться</li>
    <li>погонять мух</li>
    <li>посмотреть в окно</li>
</ol>
<   h4>Чего Мотя не любит:</h4>
    <ul>
        <li>когда нечего поесть</li>
        <li>когда мешают поспать</li>
        <li>когда нескем поиграть</li>
        <li>когда нельзя поорать</li>
    </ul>
    <figure>
        <img src="сat.jpg" width='300' height='230' />
        <figcaption>Матильда, Мотя, Мотичка..</figcaption>
    </figure>
    <hr>


    <form action="#" method="post">
        <input type="email" placeholder="Enter email">
        <br>
        <input type="password" placeholder="Enter password" required>
        <br>
        <input type="reset">
        <br>
        <input type="submit">
        <br>
    </form>
    <hr>
    <form>
        <fieldset>
            <legend>Анкета клиента</legend>
            <p><label for="name">Имя</label><input type="text id="name"></p>
            <p><label for="tel">Телефон</label><input type="text id="tel"></p>
            <p><label for="email">Emeil</label><input type="text id="emel"></p>
            <p><label for="data">Дата посещения</label><input type="week"></p>
            <p><label for="range">Оценка</label><input type="range"></p>
            <p><label for="range">Для себя</label>
                <select>
                    <option>обязательно прийду ещё</option>
                    <option>не уверен прийду ли ещё</option>
                    <option>никогда не прийду</option>
                </select></p>
                <p><input type="submit" value="Отправить"></p>
        </fieldset>
       
    </form>
   