<!DOCTYPE html>

<head>
    <title>My first project</title>
</head>

<body>
    <h1>
        Создано для примера
    </h1>
    <hr>
    <div>

        <h2>
           Используется для:
        </h2>
        <ul>
            <li>
                Тренировки
            </li>
            <li>
                Обучения
            </li>
            <li>
                Практического применения навыков
            </li>
        </ul>
    </div>

    <div>
        <details>
            далее используется просто текст из википедии для примера
        </details>
        <p>
            Первые программные системы разрабатывались в рамках программ научных исследований или программ для нужд
            министерств обороны. Тестирование таких продуктов проводилось строго формализованно с записью всех тестовых
            процедур, тестовых данных, полученных результатов. Тестирование выделялось в отдельный процесс, который
            начинался после завершения кодирования, но при этом, как правило, выполнялось тем же персоналом.
        </p>

        <p>В 1960-х много внимания уделялось «исчерпывающему» тестированию, которое должно проводиться с использованием
            всех путей в коде или всех возможных входных данных.
        </p>
        <p>Было отмечено, что в этих условиях полное тестирование программного обеспечения невозможно, потому что,
            во-первых, количество возможных входных данных очень велико, во-вторых, существует множество путей,
            в-третьих, сложно найти проблемы в архитектуре и спецификациях. По этим причинам «исчерпывающее»
            тестирование было отклонено и признано теоретически невозможным.
        </p>

    </div>
    <h3>
        Данный пример создано при помощи <a href="https://jsfiddle.net/">jsfiddle</a>
    </h3>

    <p>
        &copy; Екатерина Королева
    </p>

    <img src="https://scontent.fiev15-1.fna.fbcdn.net/v/t39.30808-6/278135245_5110470739037015_4309547450838094555_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=rk1q-QdbRDAAX899-6N&_nc_ht=scontent.fiev15-1.fna&oh=00_AT_1OaQqSORXsWVcPyIx0q-NcqMbJg4WnXMdhdhzF8DUEQ&oe=629693A7"
        width="100" height="111" alt="фото">

</body>