<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
			<title>LOOKING FOR A JOB</title>
			<meta name="description" content="Let me
	introduce myself">
		<meta name="author" content="Satya J.">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1>LOOKING FOR A JOB</h1>
		<p>Let me introduce myself</p>
		<h2>About me</h2>
		<p>A quick brown fox jumps over the lazy dog.
		That's it. <br/>
			If you want to know more about me then please feel
			free to visit the link <br/>
			 <br>
		<a href="#">...Read more</a></p>
		
		<br>
	</body>
		<img src="./images/index.jpg"/>
		
		 <table>
	<tr>
		<th>1</th>
		<th>2</th>
		<th>3</thth>
	</tr>
	<tr>
		<th>Languages</th>
		<th>Contact</th>
		<th>Country</th>
	</tr>
	<tr>
		<td>English</td>
		<td>kolbasad15@gmail.com</td>
		<td>Ukraine</td>
	</tr>
	<tr>
		<td>Ukrainian</td>
    
    
	</tr>
	</table> 
	
	
	
	
	
	
	
	
	</div>
		<div class="posts"  id="posts">
		<div class="post">
			<h1>Geographical position</h1>
			<p>Are you looking for a job in a specific geographic location that will ease your commute to work or allow you to pick up your kids after school? Should your place of work be on a direct bus route? Put it on your resume.</p>
	</div>
		<div class="post">
			<h1>Wage rate</h1>
			<p>Are you looking for a specific pay rate? This may mean that you need to choose a job with tougher conditions in order to meet your income requirements. Or perhaps you're willing to charge less money if the job involves being creative.

			</p>
	</div>
		<div class="post">
			<h1>Working hours</h1>
			<p>Are you looking for work during certain hours? Do you think best at night? Do you have to be home at certain times due to family obligations? Are you ready to take shifts? These items also need to be known to the employer.</p>




	</div>
	</div>
		<div class="comment-base">
			<h1 class="comment-title">your latest work</h1>
			<p>Is there any specific reason why you left your past or previous job? Does it affect the next job you want? Write it down in the "About Me" section. </p>
	</div>
	</div>
	</div>
	</div>
	</main>
<footer class="footer"  id="footer">

<br>
The "About Me" section matters because it's where you talk about your preferences. This allows you to find the best match for the vacancy and bypass many competitors even at the stage of reviewing the resume.


</footer>
</body>
</html>
    
	</body>
</html>