<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Словарь</title>
    </head>
    <body>
        <h1>Словарь терминов тестирования</h1>
        <hr>
        <dl>
            <p><dt><b>Артефакты ―</b></dt>
        <dd>это документы, которые используют в процессе тестирования. Подробнее о том, какими они бывают, расскажем <a href="#bookmark">далее</a>.</dd>
    </dd></p>
    <dt><b>Баг (bug) ―</b></dt>
            <dd>это ошибка или дефект программного обеспечения. Он проявляется, когда фактическое поведение системы отличается от ожидаемого. Дефекты могут быть: <ul>
                <li>критическими - влияют на использование ПО;</li>
                <li>незначительными - их присутствие незаметно для пользователя.</li>
            </ul></dd>
            <p><dt> <b>Тестирование (testing) ―</b></dt>
            <dd>это исследование поведения программного продукта, основной целью которого является выявление багов. Понятия <b>контроль качества</b> <i>(quality control, QC)</i> и <b>обеспечение качества</b> <i>(quality assurance, QA)</i> часто используются в качестве синонимов, но это ошибка. Ведь тестирование нацелено на поиск ошибок в уже готовом ПО, а обеспечение качества задаёт условия, в которых дефекты появляться не будут.<br></p>
            <b>Типы тестирования:</b>
        <ol>
            <li><b>Мануальное (ручное) ―</b> непосредственная проверка работы ПО тестировщиком.</li>
            <li><b>Автоматизированное ―</b> оценка качества программного продукта с применением программных средств (автотесты).</li>
        </ol>
        <ul type='circle'>
            <li><b>Тестирование производительности (performance testing) ― </b>анализ работы приложений под различными нагрузками.</li>
            <li><b>Функциональное тестирование (functional testing) ―</b> проверка возможности ПО в заданных условиях решать необходимые пользователю задачи.</li>
            <li><b>Тестирование безопасности (security testing) ―</b> определение безопасности ПО: защищено ли оно от атак хакеров, несанкционированного доступа к данным и т. д.</li>
            <li><b>UX-тестирование (usability testing, юзабилити-тестирование) ―</b> исследование логики и удобства использования ПО.</li>
        </ul> 
        <p><dt><b>Тестовое покрытие (test coverage) ―</b></dt>
        <dd>это совокупность тестов, которые проявляют работоспособность той или иной функциональности ПО. Чем больше проверок, тем шире тестовое покрытие, тем больше возможностей отследить поведение системы в различных условиях и выявить критические или незначительные дефекты.</dd></p>
        <p><dt><b>Верификация (verification) ―</b></dt>
        <dd>оценка ПО или его компонентов с точки зрения соответствия всем заявленным к нему требованиям.</dd></p>
        
        <p><dt><b>Валидация (validation) ―</b></dt>
        <dd>это проверка работоспособности функциональности приложения.</dd></p>
        
        <p><dt><b>Релиз (release, RTM) ―</b></dt>
        <dd>выпуск программного продукта на рынок, например, размещение мобильного приложения в App Store или Google Play.</dd></p>
    </dl>
        <h2><a id="bookmark">Артефакты</a></h2>
<dl>
    <p><dt><b>Спецификация (specification, спек) ―</b></dt>
    <dd>детализированное описание работы приложения, которое включает технические свойства.</dd></p>
    <p><dt><b>Баг-репорт (bug report, отчёт об ошибке) ―</b></dt>
    <dd>описание действий или условий, которые привели к выявлению дефекта. Подобные отчёты создают в <b>баг-трекинговой системе (bug tracking system, система отслеживания ошибок)</b>. Это программа для описания и контроля дефектов. Наиболее распространённой является Jira. </dd></p>
    <p><dt><b>План тестирования (test plan) ―</b></dt>
    <dd>в этом документе содержатся все данные о проводимой проверке: описание программного продукта, стратегия тестирования, сроки выполнения поставленных задач, используемые в процессе инструменты и оборудование, оценка потенциальных рисков и прочее.</dd></p>
    <p><dt><b>Чек-лист (checklist, контрольный список) ―</b></dt>
    <dd>перечень параметров, которые нуждаются в проверке.</dd></p>
    <p><dt><b>Тест-кейс (test case, тестовый случай) ―</b></dt>
    <dd>своего рода сценарий или описание последовательности шагов при проведении тестирования.</dd></p>
    <p><dt><b>Тестовый набор (test suite) ―</b></dt>
    <dd>несколько тест-кейсов, которые объединены по типу тестирования или другим признакам.</dd></p>
</dl>
<p>Освоить азы тестирования вы можете на курсах от <a href="https://telesens-academy.com/" target="_blank">Телесеанс Академии</a>.</p>
<p>Если хотите, чтобы с вами связались, то заполните форму ниже.</p>
<form action="#" method="post">
    <fieldset>
        <legend>Контактная информация</legend>
        <p><label for="name">Имя    </label><input type="text" id="name" required></p>
        <p><label for="surname">Фамилия    </label><input type="text" id="surname" required></p>
        <p><label for="tel">Телефон    </label><input type="tel" id="tel" placeholder="+38" required></p>
        <p><label for="email">E-mail      </label><input type="email" id="email" required></p>
    </fieldset>
    <p><fieldset>
        <legend>Обо мне</legend>
        <p><label for="inf1">Мои знания о тестировании оцениваю:  </label><select>
            <option>ничего не знаю</option>
            <option>начальные</option>
            <option>заканчивал/-ла курсы</option>
        </select></p>
        <p><label for="inf2">Интересуют курсы в режиме:  </label><br><input type="radio" name="form" value="f1">онлайн<br>
                                                                 <input type="radio" name="form" value="f2">офлайн<br></p>
    </fieldset></p>
    <p><input type="submit" value="Отправить"</p>
</form>  
    </body>
</html>